body{  
    background-color: #e1e9f0;
  }
  .container{
    margin-top: 10%;
    border-radius: 5px;
    background-color: #45aab1c4; 
  }
 
  .row{
    border-radius: 5px;
    background-color: #45b160c4; 
  }

  .card-title{
    background-color: rgb(226, 223, 43);
  }
  .card-body{
    background-color: rgb(45, 156, 170);
  }
 
  